# Ignore Python virtual environment
venv/

# Ignore VS Code settings
.vscode/

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Keep these files even if the folder above is ignored
!requirements.txt
!.gitignore
